@charset "utf-8";

/* 共通 */
* {
    box-sizing: border-box;
}
*::selection {
    background-color: #ddd;
}
body {
    font-family: sans-serif;
    margin: 0;
}
h2 {
    border-left: 5px solid #888;
    padding-left: 5px;
}
.container {
    margin: 0 200px;
}
header {
    font-family: futura;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #ddd;
    z-index: 9999;
}
header nav {
    display: flex;
    flex-direction: row;
}
header nav li {
    list-style: none;
}
header nav li:not(:first-child) {
    margin-left: 20px;
}
header nav li a {
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 2px;
    padding: 8px 14px;
    color: #333;
}
header nav li a:hover {
    transition: 1s;
    background-color: #333;
    color: #fff;
}
header nav li a.current {
    background-color: #333;
    color: #fff;
}
main {
    min-height: calc(100vh - 110px);
    margin-top: 60px;
    padding: 20px 0;
}
footer {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #222;
    color: #ccc;
}
.footer-items {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.gh-link a i {
    margin: 6px;
    padding: 4px;
    color: #ccc;
    font-size: 110%;
}
.gh-link a i:hover {
    transition: color .5s;
    color: #fff;
}

/* about */
.content {
    margin: 0 5px;
}
.school a {
    color: #006;
}
.school a:hover {
    transition: 0.5s;
    opacity: 0.7;
}
.qualification ul {
    padding-left: 16px;
}
.qualification ul li {
    margin-bottom: 10px;
}
.skill > h3 {
    padding-top: 10px;
}

/* works */
.works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 80px;
}
.work {
    width: 100%;
    position: relative;
}
.work:not(:last-child) {
    margin-bottom: 4px;
}
.work-title img,video {
    width: 100%;
}
.work-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: inherit;
    background-color: #222;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 1s;
}
.work-cover:hover {
    opacity: 0.8;
}
.work-name {
    position: absolute;
    color: #e0e0e0;
    height: 99%;
    width: inherit;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-name > h3 {
    font-family: monospace;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 12px;
    z-index: 10;
}
.work-name > h3::selection {
    color: #333;
}

@media (max-width:750px) {
    .container {
        margin: 0 10px;
    }
    .works {
        margin: 0;
    }
    .work-name > h3 {
        font-size: 1.8em;
        letter-spacing: 10px;
    }
}