@charset "utf-8";

/* 共通 */
* {
    box-sizing: border-box;
}
*::selection {
    background-color: #ddd;
}
body {
    font-family: sans-serif;
    margin: 0;
}
h2 {
    border-left: 5px solid #888;
    padding-left: 5px;
}
main li {
   list-style: none;
   background-color: #333; 
   color: #eee;
   padding: 7px;
   border-radius: 4px;
   font-size: 0.9rem;
}
.container {
    margin: 0 120px;
}
header {
    font-family: futura;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #ddd;
    z-index: 9999;
    transition: background-color 1.5s;
}
header.bg-clear {
    background-color: rgba(0,0,0,.0);
}
header nav {
    display: flex;
    flex-direction: row;
}
header nav li {
    list-style: none;
}
header nav li:not(:first-child) {
    margin-left: 20px;
}
header nav li a {
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 2px;
    padding: 8px 14px;
    color: #333;
}
header.bg-clear nav li a {
    color: #bbb;
}
header nav li a:hover {
    transition: 1s;
    background-color: #333;
    color: #fff;
}
header nav li a.current {
    background-color: #333;
    color: #fff;
}
main {
    min-height: calc(100vh - 110px);
    margin-top: 60px;
    padding: 20px 0;
}
footer {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #222;
    color: #ccc;
}
.footer-items {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.gh-link a i {
    margin: 6px;
    padding: 4px;
    color: #ccc;
    font-size: 110%;
}
.gh-link a i:hover {
    transition: color .5s;
    color: #fff;
}

/* about */
#top-cover {
    position: relative;
	height: 100vh;
    background: url(../img/top-cover.jpg) center / cover;
}
#top-cover::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.3);
}
#top-cover h1 {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	margin: 0;
	padding: 0 6em;
	color: #fff;
	font-size: 1.2rem;
	line-height: 1.4;
    font-weight: 50;
	font-family: futura, sans-serif;
	letter-spacing: .1em;
    /* filter: drop-shadow(1px 1px 4px rgba(32, 32, 32, 0.3)); */
	transform: translateY(-50%);
}
.content {
    margin: 0 5px;
}
.about p {
    margin: 3px 0;
}
.school a {
    transition: 0.5s;
}
.school a:hover {
    opacity: 0.7;
}
.qualification ul {
    padding-left: 18px;
}
.qualification ul li {
    margin-bottom: 8px;
}
.skill > h3 {
    padding-top: 10px;
}
.skill ul {
    padding-left: 24px;
}
.skill ul li {
    margin-bottom: 8px;
}
.skill ul p {
    margin: 8px 0;
}

/* works */
.works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 80px; */
}
.work {
    width: 100%;
    position: relative;
}
.work:not(:last-child) {
    margin-bottom: 4px;
}
.work-title img,video {
    width: 100%;
}
.work-name {
    position: absolute;
    height: 99%;
    width: inherit;
    top: 0;
    left: 0;
}
.work-name > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #e0e0e0;
    font-family: monospace;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 12px;
    z-index: 10;
    transition: 1.5s;
}
.work-name > h3::selection {
    color: #333;
}
.view .work-name h3 {
    top: 0;
    left: 0;
    transform: translate(0, 50%);
    margin-top: 5px;
    margin-left: 40px;
    letter-spacing: 5px;
}
.work-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: inherit;
    background-color: #222;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 1s;
}
.work-cover a {
    display: block;
    height: 100%;
    width: 100%;
}
.work-cover:hover {
    opacity: 0.8;
}

@media (max-width:768px) {
    .container {
        margin: 0 16px;
    }
    #top-cover h1 {
        padding: 0 30px;
        font-size: 2.3rem;
    }
    .works {
        margin: 0;
    }
    .work-name > h3 {
        font-size: 1.8em;
        letter-spacing: 10px;
    }
}